* {
    padding: 0;
    margin: 0;
    font-family: "Roboto Mono", "Roboto Mono", "Vazirmatn", monospace;
    transition: all 1ms ease-out;
}

body {
    background-color: #fff;
}

.para-container {
    /*border: 1px solid red;*/
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 100%;
    word-break: break-all;
    transform: translateX(-50%) translateY(-50%);
}

.highlight {
    animation: blink 0.5s infinite;
}

@keyframes blink {
    50% {
        border-color: #fff;
    }
}
